.tg {
  width: 800px;
  height: 500px;
  border: solid 2px black;
  margin: 0 auto;
}

.theads {
  width: 12em;
  height: 100px;
  border: solid 2px black;
}

.tbody {
  width: 12em;
  width: 100px;
}

.theads tr .tg-0lax {
  border: solid 2px black;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.tbody tr .tg-0lax {
  border: solid 2px black;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
