body {
  background-image: url("4connect1.jpg");

  width: 0 auto;
  height: 0 auto;
}

#start {
  font-family: "Press Start 2P", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Titan One", cursive;
  font-size: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;

  margin-top: 0%;
  text-decoration-color: red;
  background-color: rgb(239, 184, 16);
  border: solid rgb(30, 2, 2) 5px;
  border-radius: 10px;
}

h1 {
  color: white;
  text-shadow: yellow 1px 0 10px;

  text-decoration: yellow;
  border: rgb(16, 16, 16);
  text-align: center;
  font-size: 5rem;
  margin-top: -20px;
  font-family: "Press Start 2P", cursive;
  font-family: "Qwitcher Grypen", cursive;
  font-family: "Titan One", cursive;
}

@media screen and (min-width: 600px) {
  h1 {
    color: white;
    text-shadow: yellow 1px 0 10px;
    text-decoration: yellow;
    border: rgb(16, 16, 16);
    text-align: center;
    font-size: 3rem;
    margin-top: -26px;
    font-family: "Press Start 2P", cursive;
    font-family: "Qwitcher Grypen", cursive;
    font-family: "Titan One", cursive;
  }

  #board {
    background-color: rgb(6, 173, 251);
    width: 35%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    border: solid 5px black;
  }

  #board td {
    width: 50px;
    height: 60px;
    border: solid 5px rgb(87, 87, 87);
    border-style: groove;
  }
}

@media screen and (min-width: 1820px) {
  h1 {
    color: white;
    text-shadow: yellow 1px 0 10px;
    text-decoration: yellow;
    border: rgb(16, 16, 16);
    text-align: center;
    font-size: 5rem;
    margin-top: -26px;
    font-family: "Press Start 2P", cursive;
    font-family: "Qwitcher Grypen", cursive;
    font-family: "Titan One", cursive;
  }

  #board {
    background-color: rgb(6, 173, 251);
    width: 40%;
    height: auto;
    margin-top: -60px;
    justify-content: center;
    margin: 0 auto;
    border: solid 5px black;
  }

  #board td {
    width: 50px;
    height: 100px;
    border: solid 5px rgb(87, 87, 87);
    border-style: groove;
  }
}

#column-top td {
  border: solid 5 px rgb(92, 88, 88);
  border-radius: 40px;
  background-color: rgb(255, 247, 0);
  box-shadow: 2px 2px 2px 1px yellow;
}

#column-top td:hover {
  background-color: rgb(57, 9, 250);
}

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.p1 {
  background-color: rgb(0, 17, 255);
}

.piece.p2 {
  background-color: rgb(255, 255, 0);
}
