<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Directory</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <h1>Home page </h1>
    

    <ul>
      <li><a href="/phones">phones</a></li>
      <li><a href="/add">add snack</a></li>
      <li><a href=""></a></li>
    </ul>
  </body>
</html>
