body{
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#canvas{
    background-color: black;
    width: 100%;
    box-sizing: border-box;
}

.container{
display: flex;
}

.inputs{
    background-color: white;
    margin-left: 10px;
    width: 50%;
}

.inputs input{
   margin: 10px;
}